
    <div class="row">
        <div class="col-md-4">

            <div class="form-group">
                <label for="first_name">FirstName</label>
                <input type="text" id="first_name" class="form-control" [(ngModel)]="emp.first_name" />
            </div>
 
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" [(ngModel)]="emp.email" />
            </div>

             <button class="btn btn-primary" (click)="updateEmployee()"  >Update</button>
        </div>
    </div>